div.container {
    div.loan {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .id {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: #333;
        }

        .status.approved {
            color: green;
        }

        .status.rejected {
            color: red;
        }

        .status.pending {
            color: orange;
        }

        .status.pre-approved {
            color: blue;
        }

        .updated {
            font-size: 0.8rem;
            color: #999;
        }

    }
}