<div class="message" *ngIf="showMessage">
    <span class="info" *ngIf="info">{{info}}</span>
    <span *ngIf="error" class="error">{{error}}</span>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="input-container" *ngFor=" let field of fields; let i = index;">
        <label>
            {{field.label}}
            <span *ngIf="field.required" class="required">*</span>
        </label>
        <input type="{{field.type}}" [formControlName]="field.name" *ngIf="field.type != 'textarea'; else textarea">
        <ng-template #textarea>
            <textarea [formControlName]="field.name"></textarea>
        </ng-template>
        <span *ngIf="field.help_text" class="help_text">{{field.help_text}}</span>
        <ng-container *ngIf="!getErrorMessage($any(form).get(field.name))">
			<span class="error">{{messsage}}</span>
		</ng-container>
    </div>
    <button type="submit" [disabled]="form.invalid">Enviar formulário</button>
</form>